body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30% 100%;
    background-position: right;
    color: white;
    font-family: 'Sirin Stencil One', sans-serif;
    overflow: auto;
    bottom: 0px;
    margin-bottom: 0;
}

header {
    padding: 0px;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.grid-container-banner {
  display: grid;
  grid-template-columns: 120px 320px auto;
  grid-template-rows: 33% 33% 33%;
  background-color: #3b7753;
  align-items: center;
  padding-top: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border: white solid 2px;
 }

 .grid-container-menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  color: white;
}

.grid-item-menu, .dropdown-content-menu a {
  text-align: center;
  border-radius: 5px;
  padding: 8px 7px;
  margin: 0 2px;
  background-color: black;
  font-size: 100%;
  white-space: nowrap;
}

.grid-item-menu:hover, .dropdown-content-menu a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.menu {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.menu a {
  padding: 8px;
  background-color: black;
  border-radius: 5px;
}

.dropdown-content-menu {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}

.dropdown-content-menu a {
  display: block;
  margin: 0;
}

#homepage1 {
  text-transform: uppercase;
  margin-top: 5px;
}

#homepage2 {
  color: black;
}

#homepage3 {
font-family: 'Caveat', cursive;
font-size: 190%;
text-align: left;
}

header>div>h1, header>div>h2, header>div>h3 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 125px;
  text-align: left;
}

#social-media-icon-banner {
  width: 35px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

#logo-banner {
  margin-top: 5px;
  margin-left: 5px;
  height: 100px;
  float: left;
}

a {
    color: inherit;
    text-decoration: none;
}

#social-media-icon {
    width: 40px;
    margin-top: 5px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    opacity: 90%;
    border-radius: 5px;
}

.stadium {
    width: 50%;
    opacity: 90%;
    border-radius: 5px;
    margin: 10px 0;
}

.flag {
    width: 15px;
    border-radius: 100%;
    border: white solid 1px;
}

main {
    text-align: center;
    width: 72%;
    margin-top: 130px;
    margin-bottom: 10px;
    position: relative;
}

main h1, main h2, main h3 {
    text-transform: uppercase;
}

.page-split {
    display: inline-block;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: 0 15px;
}

.address {
    margin-top: 30px;
}

main>p {
    margin: 0;
}

.logo-name {
    display: inline-block;
}

li {
    display: inline;
}

.line-up{
  font-size: 1.2rem;
  display: inline;
}

.left {  
  text-align: left;
}

.right {  
  text-align: right;
}

.line-up-list {
 margin: 20px;
}

  .dropdown {
    position: relative;
  }

  .dropdown-roster, .dropdown {
    display: block;
  }
  
  .dropdown-content, .dropdown-content-card {
    display: none;
    position: absolute;
    background-color: black;
    width: 200px;
    height: 261px;
    padding: 12px 16px;
    z-index: 2;
    border: 1px solid #3b7753;
    border-radius: 5px;
    right: 38%;
    top: 26%;
    align-items: center;
  }
  
  .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content-menu, .dropdown-roster:hover .dropdown-content {
    display: block;
  }

  .card-back {
    position: absolute;
    background-color: black;
    width: 200px;
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #3b7753;
    border-radius: 5px;
    right: 38%;
    top: 26%;
    align-items: center;
  }

  .team-league-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
  }

  .table-stat {
    width: 5%;
  }

  .team-row {
    text-align: left;
    padding-left: 5px;
  }

  th {
    text-transform: uppercase;
    border-bottom: solid 1px #3b7753;
    padding: 10px 0;
  }

  #expedians {
    background-color: white;
    color:#3b7753;
  }

  ul {
    padding-left: 0;
  }

  .flex-container {
    display: flex;
    margin-bottom: 0px;
  }

  .box-frame {
    border-radius: 5px;
    border: #3b7753 solid 2px;
  }

  .card, .card-title {
    flex: 1;
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card {
    height: 100%;
    margin-bottom: 20px;
  }

  .card-title {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 1px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .grid-container-home {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .matches {
    width: 70%;
    left: 15%;
    position: relative;
  }

  .grid-container-matches-results {
    display: grid;
    grid-template-columns: 15% 15% 50% 20%;
    grid-template-rows: 40% 60%;
    background-color: black;
    color: white;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .grid-item {
    text-align: center;
    font-size: 90%;
  }

  .grid-row-2 {
    grid-row: span 2;
  }

  .grid-row-3 {
    grid-row: span 3;
  }

  .grid-date {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .grid-field {
    font-size: 85%;
  }

  .grid-item-results, .grid-item-results-card {
    font-family: 'Saira Stencil One', sans-serif;
  }

  .grid-item-results {
    font-size: 200%;
  }

  .grid-item-results-card {
    font-size: 400%;
  }

  .grid-match-details {
    background-color: #3b7753;
    color: white;
    opacity: 95%;
    border-radius: 15px;
    padding: 3px 5px;
    margin: 5px 0;
    font-size: 75%;
  }

  .grid-team-logo, .grid-team-logo-matche {
    width: 55%;
  }

  .grid-column-2 {
    grid-column: span 2;
  }
  .grid-column-3 {
    grid-column: span 3;
  }

  .grid-column-2, .grid-column-3 {
    width: 90%;
  }

  .grid-title {
    color: #3b7753;
    font-weight: bold;
  }

  .grid-teams-names {
    font-size: 110%;
  }

  #match-sheet {
    grid-template-columns: 1.2fr 0.6fr 1.2fr;
    width: 70%;
    left: 15%;
  }

  .link:hover, .line-up-list:hover {
    -webkit-text-stroke: 2px;
  }

  .calendar {
    border: #3b7753 2px solid;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  }

@media (max-width:425px) {
  body {
    background-color: black;
    background-image: url('assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30% 100%;
    background-position: right;
    color: white;
    font-family: 'Sirin Stencil One', sans-serif;
    overflow: auto;
    height: 100%;
}

header {
    padding: 0px;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.grid-container-banner {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  background-color: #3b7753;
  align-items: center;
  padding-top: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border: white solid 2px;
 }

 .grid-container-menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  color: white;
}

.grid-item-menu {
  text-align: center;
  border-radius: 5px;
  padding: 8px 7px;
  margin: 0 2px;
  background-color: black;
  font-size: 100%;
  white-space: nowrap;
}

.grid-item-menu:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

header>div>h1, header>div>h2, header>div>h3 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

#logo-banner {
  margin-top: 5px;
  margin-left: 5px;
  height: 60px;
}

#social-media-icon-banner {
  width: 35px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

#homepage1 {
  font-size: 50%;
}

#homepage2 {
  font-size: 50%;
}

#homepage3 {
  font-size: 100%;
}

footer {
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

#social-media-icon {
    width: 15px;
    margin-top: 2px;
}

footer p {
  margin: 2px 0px;
  font-size: 7px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    opacity: 90%;
    border-radius: 5px;
}

.stadium {
    width: 50%;
    opacity: 90%;
    border-radius: 5px;
    margin: 10px 0;
}

.flag {
    width: 15px;
    border-radius: 100%;
    border: white solid 10px;
}

main {
    text-align: center;
    width: 72%;
    margin-top: 100px;
    position: relative;
}

main h1, main h2, main h3 {
  font-size: 100%;
}

.page-split {
    display: inline-block;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: 0 15px;
}

.address {
    margin-top: 30px;
}

main>p {
    margin: 0;
}

iframe {
    margin: 15px 0;
}

.logo-name {
    display: inline-block;
}

.menu {
    display: inline-block;
    text-align: right;
    width: 50%;
}

li {
    display: inline;
}

.menu a {
    padding: 8px;
    background-color: black;
    border-radius: 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .card-back {
    position: absolute;
    background-color: black;
    width: 200px;
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #3b7753;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 200px;
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #3b7753;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content, .dropdown-roster:hover .dropdown-content {
    display: block;
  }

  ul {
    padding-left: 0;
  }

  .flex-container {
    display: flex;
  }

  .box-frame {
    border-radius: 5px;
    border: #3b7753 solid 2px;
  }

  .card, .card-title {
    flex: 1;
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
  }

  .card {
    height: 100%;
    margin-bottom: 20px;
  }

  .card-title {
    height: 12px;
    margin-top: 3px;
    font-size: 0.4rem;
    padding-top: 2px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .grid-container-home {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .grid-container-matches-results {
    display: grid;
    grid-template-columns: 15% 15% 50% 20%;
    grid-template-rows: 40% 60%;
    background-color: black;
    color: white;
    justify-items: center;
    align-items: center;
    position: relative;
  }
  
  .grid-item {
    text-align: center;
    font-size: 50%;
  }

  .grid-row-2 {
    grid-row: span 2;
  }

  .grid-row-3 {
    grid-row: span 3;
  }

  .grid-date {
    margin-top: 3px;
    font-weight: bold;
  }
  
  .grid-field {
    font-size: 5px;
    text-align: center;
  }

  .grid-item-results, .grid-item-results-card {
    font-family: 'Saira Stencil One', sans-serif;
  }

  .grid-item-results {
    font-size: 300%;
  }

  .grid-item-results-card {
    font-size: 100%;
  }

  .grid-match-details {
    background-color: #3b7753;
    color: white;
    opacity: 95%;
    border-radius: 15px;
    padding: 2px 5px;
    margin: 2px 0;
  }

  .grid-team-logo {
    width: 55%;
  }

  .grid-team-logo-matches {
    width: 55%;
  }

  .grid-column-2 {
    grid-column: span 2;
  }
  .grid-column-3 {
    grid-column: span 3;
  }

  .grid-column-2, .grid-column-3 {
    width: 90%;
  }

  .grid-title {
    color: #3b7753;
    font-weight: bold;
  }

  .grid-teams-names {
    font-size: 155%;
  }

  #match-sheet {
    grid-template-columns: 1.2fr 0.6fr 1.2fr;
    width: 70%;
    left: 15%;
  }

  .link:hover {
    color: #3b7753;
  }

  main h3 {
    margin: 1px 0px;
  }
}