body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 30% 100%;
    color: white;
    font-family: 'Sirin Stencil One', sans-serif;
    overflow: auto;
    bottom: 0px;
    margin-bottom: 0;
}

header {
    padding: 0px;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
}

.text-banner-1, .text-banner-2, .text-banner-3 {
  width: 100%;
}

.grid-container-banner {
  display: grid;
  grid-template-columns: 120px 320px auto;
  grid-template-rows: repeat(3,33%);
  background-color: #3b7753;
  align-items: center;
  padding-top: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border: white solid 2px;
 }

 .grid-container-menu {
  display: grid;
  grid-template-columns: repeat(7,auto);
  color: white;
}

.grid-item-menu, .dropdown-content-menu a {
  text-align: center;
  border-radius: 5px;
  padding: 8px 7px;
  margin: 0 2px;
  background-color: black;
  font-size: 100%;
  white-space: nowrap;
}

.grid-item-menu:hover, .dropdown-content-menu a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.down-arrow-grey{
  height: 15px;
}

.menu {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.menu a {
  padding: 8px;
  background-color: black;
  border-radius: 5px;
}

.dropdown-content-menu {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}

.dropdown-content-menu a {
  display: block;
  margin: 0;
}

#homepage1 {
  text-transform: uppercase;
  margin-top: 5px;
}

#homepage2 {
  color: black;
}

#homepage3 {
font-family: 'Caveat', cursive;
font-size: 190%;
text-align: left;
}

header>div>h1, header>div>h2, header>div>h3 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 125px;
  text-align: left;
}

#social-media-icon-banner {
  width: 35px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

#logo-banner {
  margin-top: 5px;
  margin-left: 5px;
  height: 100px;
  float: left;
}

a {
    color: inherit;
    text-decoration: none;
}

#social-media-icon {
    width: 40px;
    margin-top: 5px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    opacity: 90%;
    border-radius: 5px;
}

.stadium {
    width: 50%;
    opacity: 90%;
    border-radius: 5px;
    margin: 10px 0;
}

.flag {
    width: 15px;
    border-radius: 100%;
    border: white solid 1px;
}

main {
    text-align: center;
    width: 72%;
    margin-top: 130px;
    margin-bottom: 10px;
    position: relative;
}

main h1, main h2, main h3 {
    text-transform: uppercase;
}

.page-split {
    display: inline-block;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: 0 15px;
}

.address {
    margin-top: 30px;
}

main>p {
    margin: 0;
}

.logo-name {
    display: inline-block;
}

li {
    display: inline;
}

.line-up{
  font-size: 1.2rem;
  display: inline;
}

.left {  
  text-align: left;
}

.right {  
  text-align: right;
}

.line-up-list {
 margin: 20px;
}

  .dropdown {
    position: relative;
  }

  .dropdown-roster, .dropdown {
    display: block;
  }
  
  .dropdown-content, .dropdown-content-card {
    display: none;
    position: absolute;
    background-color: black;
    width: 200px;
    height: 261px;
    padding: 12px 16px;
    z-index: 2;
    border: 1px solid #3b7753;
    border-radius: 5px;
    right: 38%;
    top: 1070px;
    align-items: center;
  }
  
  .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content-menu, .dropdown-roster:hover .dropdown-content {
    display: block;
  }

  .card-back {
    position: absolute;
    background-color: black;
    width: 200px;
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #3b7753;
    border-radius: 5px;
    right: 38%;
    top: 1070px;
    align-items: center;
  }

  .team-league-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
  }

  .table-stat {
    width: 5%;
  }

  .team-row {
    text-align: left;
    padding-left: 5px;
  }

  th {
    text-transform: uppercase;
    border-bottom: solid 1px #3b7753;
    padding: 10px 0;
  }

  #expedians {
    background-color: white;
    color:#3b7753;
  }

  ul {
    padding-left: 0;
  }

  .flex-container {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
  }

  .box-frame {
    border-radius: 5px;
    border: #3b7753 solid 2px;
  }

  .card, .card-title {
    flex: 1;
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card {
    height: 180px;
    margin-bottom: 20px;
  }

  .card-title {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 1px;
  }

  .grid-container, .grid-container-home {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .matches {
    width: 90%;
    left: 5%;
    position: relative;
    margin: 50px 0;
  }

  .grid-container-matches-results {
    display: grid;
    grid-template-columns: repeat(2,10%) 55% 25%;
    grid-template-rows: 40% 60%;
    background-color: black;
    color: white;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0;
  }

  .grid-item {
    font-size: 90%;
  }

  .grid-row-2 {
    grid-row: span 2;
  }

  .grid-row-3 {
    grid-row: span 3;
  }

  .grid-date {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .grid-field {
    font-size: 85%;
  }

  .grid-item-results, .grid-item-results-card, .match-sheet-results {
    font-family: 'Saira Stencil One', sans-serif;
  }

  .match-sheet-results {
    font-size: 300%;
  }

  .grid-item-results {
    font-size: 200%;
  }

  .grid-item-results-card {
    font-size: 400%;
  }

  .grid-match-details, .grid-match-details-list {
    background-color: #3b7753;
    color: white;
    opacity: 95%;
    border-radius: 15px;
    padding: 3px 5px;
    margin: 5px 0;
    font-size: 75%;
  }

  .grid-team-logo {
    width: 55%;
  }

  .grid-team-logo-matches {
    width: 75%;
  }

  .grid-column-2 {
    grid-column: span 2;
  }
  .grid-column-3 {
    grid-column: span 3;
  }

  .grid-column-2, .grid-column-3 {
    width: 90%;
  }

  .grid-title {
    color: #3b7753;
    font-weight: bold;
  }

  .grid-teams-names {
    font-size: 110%;
    display: flex;
    justify-content: left;
  }

  #match-sheet {
    grid-template-columns: 1.2fr 0.6fr 1.2fr;
    width: 70%;
    left: 15%;
  }

  .link:hover, .line-up-list:hover {
    -webkit-text-stroke: 2px;
  }

  .calendar {
    border: #3b7753 2px solid;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  }

  .google-map-field {
    width: 40%;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
  }

@media (min-width: 852px) and (max-width: 1048px) {
  .grid-item-results-card {
    font-size: 300%;
  }

  .dropdown-roster:hover .dropdown-content, .card-back{
    display: none;
  }

  .grid-teams-names {
    font-size: 90%;
  }

  .google-map-field {
    width: 30%;
    height: 100px;
    margin-top: 20px;
  }
}

@media (min-width: 574px) and (max-width: 852px) {

  .grid-item-results-card {
    font-size: 200%;
  }

  #social-media-icon-banner {
    width: 20px;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
  }

  h1 {
    font-size: 175%;
  }

  h2 {
    font-size: 125%;
  }

  h3 {
    font-size: 100%;
    margin-top: 10px;
  }

  h4 {
    font-size: 90%;
  }

  .line-up {
    font-size: 0.85rem;
  }

  .team-league-table {
    font-size: 80%;
  }

  .grid-teams-names {
    font-size: 75%;
  }

  .grid-item-results {
    font-size: 150%;
  }

  .card {
    height: 120px;
    margin-bottom: 20px;
  }

  .card-title {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 1px;
  }

  .card, .card-title {
    margin-left: 5px;
    margin-right: 5px;
  }

  th {
    padding: 5px 0;
  }

  .grid-container-matches-results {
    margin: 0;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 75%;
  }

  iframe {
    bottom: 0;
  }

  .google-map-field {
    height: 80px;
    margin-top: 20px;
  }

  .grid-container-banner {
    grid-template-columns: 100px 250px auto;
    height: 80px;
    margin-bottom: 0;
  }

  .grid-item-menu {
    font-size: 60%;
    padding: 4px 3px;
    height: 12px;
  }

  .down-arrow-grey {
    height: 8px;
  }

  header {
    margin-bottom: 0;
  }

  main {
    margin-top: 100px;
  }

  #logo-banner {
    height: 80px;
  }

  .text-banner-1 {
    font-size: 90%;
  }

  .text-banner-2 {
    font-size: 80%;
  }

  .text-banner-3 {
    font-size: 80%;
  }

  .calendar {
    height: 200px;
  }
}